.form {
    text-align: center;
}

.form_submit {
    display: flex;
    justify-content: center;
    width: 20%;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
    border: #007bff solid 2px;
}

.form_submit:disabled {
    opacity: 50%;
}

.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}