.nav {
    grid-area: n;
    background-color: grey;
    padding: 20px;
}

.item {
    color: white;
    text-decoration: none;
}

.active {
    color: palegreen;
    text-decoration: none
}

.sideBar {

}

.friendsBar {
    margin-top: 100px;
    }

.friends {
    font-weight: bold;
    font-size: 30px;
}

.fActive {
    color: palegreen;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}


