.form {
    border: black solid 2px;
    padding: 10px;
    margin: 5% auto;
    max-width: 20%;
}

 input {
    display: flex;
    margin: 10px auto;
}

 input:last-child {
    margin-bottom: auto;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox label {
    margin-left: auto;
}

.submit {
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
    border: #007bff solid 2px;
}

.submit:disabled {
    opacity: 50%;
}

.error:focus{

    height: 40px;
}

.error span {
    display: flex;
    margin-left: 8.82812px;
    color: red;
    font-size: smaller;
}
