.form {
    border: green solid 2px;
    margin: 5% auto;
    max-width: 20%;
}

.form input {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    border: #8E44AD solid 2px;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: black solid 2px;
}

.form .submit {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 50%;
    border: red solid 2px;
}
