.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs__items {
    padding: 10px;
    color: black;
}

.dialog {
    padding: 10px;
}

.dialogs__messages {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.dialogs__items .active {
    color: black;
}

.messages img {
    height: 45px;
    width: 45px;
    border-radius: 30px;
    }

.right{
    text-align: right;
    padding-right: 20%;
}

.addMessage{
    padding: 10px;
    padding-right: 20%;
    text-align: center
}