.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs__items {
    padding: 10px;
    color: black;
}

.dialog {
    padding: 10px;
}

.dialogs__messages {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.dialogs__items .active {
    color: black;
}

.messages img {
    height: 45px;
    width: 45px;
    border-radius: 30px;
}

.addMessage{
    padding-right: 20%;
    text-align: center;
}

.submit {
    display: flex;
    justify-content: center;
    width: 20%;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
    border: #007bff solid 2px;
}

.submit:disabled {
    opacity: 50%;
}